.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    color: var(--text-color);
    background-color: var(--white);
    padding: 6px 8px;
    border: 1px solid transparent;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 700;
    user-select: none;
    cursor: pointer;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: flex;
}

// Styles
.rounded {
    color: rgba(22, 24, 35, 0.75);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 999px !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(255, 255, 255);
    }
}

.basic {
    border-radius: 2px;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.12);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    border-radius: 4px;
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
            rgb(254, 44, 85);
    }
}

.outline {
    border-radius: 4px;
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

// Sizes
.small {
    min-width: 88px;
    padding: 2px 8px;
}

.large {
    min-width: 208px;
    padding: 12px 8px;
}
